# SQLite database file path (relative or absolute)
# Example (WSL2 to access from Windows): /mnt/c/Users/<username>/db-tests/form0_test.db
FORM0_CONNECTOR_SQLITE_PATH=./form0.db

# Table names
FORM0_CONNECTOR_SQLITE_TABLE_NAME=form0_submissions
FORM0_CONNECTOR_SQLITE_CHILD_TABLE_NAME=form0_submissions_children

# Enable verbose logging
FORM0_CONNECTOR_SQLITE_DEBUG=false
